* {
    border: none;
    margin: 0;
    padding: 0;
    --text-dark: #403F3D;
    --text-light: #E1D4C9;
    --text-accent: #B0907A;
    --background-body: #E1D4C9;
    --background-conteiner: #665F55;
    --background-backdrop: #403F3D;
    --border-dark: #665F55;
    --border-light: #C1B6AD;
    list-style-type: none;
    font-family: Inter;
}

a {
    text-decoration: none;
    color: #fff;
}

span {
    color: #5e5373;
    font-style: italic;
}

h1 {
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
}

h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

.hide {
    display: none;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #E1D4C9;
}

/*=====================*/

body {
    overflow-x: hidden;
    background-color: #E1D4C9;
}

html {
    scroll-behavior: smooth;
}

.align-center {
    max-width: 1360px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 78px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;

}

header .header-wrapper {
    display: flex;
    align-items: center;

    padding: 59px 0 65px;
}

header .logo img {
    cursor: pointer;
    width: 100px;
    height: 60px;
    margin-right: 400px;
}

header .header-navigation {
width: 100%;
}

header .header-navigation nav ul {
    display: flex;
}

header .header-navigation nav ul li {
    margin-right: 55px;
    cursor: pointer;
}

header .header-navigation nav ul li:last-child {
    margin-right: 0;
}

header .header-navigation nav ul li a {
    font-family: Inter;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 50px;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--text-dark);
}

.menu_btn {
cursor: pointer;
margin-left: 20px;
}

header .header-navigation nav ul li:hover a,
header .header-navigation nav ul li:active a {
    color: #9D8665;
}

._active {
color: #403F3D;
}

/*========================================================*/

.Welcome {
    width: 100%;
    height: 750px;
}

.Welcome .Welcome-wrapper {
    position: relative;

}

.Welcome .Welcome-title {
    position: absolute;
    z-index: 100;
    margin: 100px;
}

.Welcome .Welcome-title h1 {
    margin-bottom: 45px;
    font-family: Inter;
    color: var(--text-light);
}

.Welcome .Welcome-title h1 b {
    color: var(--text-accent);
    font-style: italic;
}

.Welcome .Welcome-title h4 {
    margin-bottom: 52px;
    font-family: Inter;
    color: var(--text-light);
}

.Welcome .Welcome-title input {
    cursor: pointer;
    background-color: #E1D4C9;
    border-radius: 30px;
    width: 200px;
    height: 64px;
    font-family: Inter;
    font-size: 20px;
    color: var(--text-dark);
}

.Welcome .Welcome-title input:hover {
    background: #9D8665;
}

.Welcome .Welcome-title input:active {
    background-color: #645540;
}

.Welcome img {
    display: flex;
    align-items: center;
    border-radius: 30px;
    width: 100%;
    height: 86%;
}

/*========================================================*/

.Favorite {
    width: 100%;
    height: 812px;
    margin: 0 auto 100;
    position: relative;
}
.favorite-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorite-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.favorite-button-arrow {
position: absolute;
display: flex;
align-items: center;
justify-content: space-between;
cursor: pointer;
width: 93%;
top: 50%;
z-index: 100;

}

.favorite-button-arrow img {
    border: #403F3D;
    border-radius: 30px;
    width: 50px;
}

.favorite-change-img {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    width: 200px;
}

.favorite-button-change {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
}
.button-change-photo {
    width: 40px;
    height: 5px;
    background-color: #999999;
    cursor: pointer;
}

.favorite-discription {
    text-align: center;
    margin: 0 auto;
    width: 500px;
}

/*========================================================*/

.About {
    height: 712px;
}

.About h2 {
    margin-bottom: 30px;
}

.gallery-portraits {
    padding: 5px;
    margin: 5px;
}

.block1 {
    float: left;
    width: 49%;

}

.block2 {
    float: right;
    width: 49%;
}

.gallery-portraits img {
    border-radius: 20px;
    width: 100%;
    margin-bottom: 20px;
    object-fit: cover;
}

.gallery-group1 {
    display: flex;
    height: 93%;
margin-bottom: 20px;
}

.gallery-group2 {
    height: 66%;
    display: flex;
}

.gallery-group3 {
    height: 66%;
    display: flex;
    margin-bottom: 20px;
}

.gallery-group4 {
    display: flex;
    height: 93%;


}

/*========================================================*/

.Mobile {
    height: 712px;
}


.Mobile-block1 {
    float: left;
    width: 50%;
    margin-top: 200px;
}

.Mobile-block1 h1,
h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50 20 50 0;
}

.Mobile-block2 {
    float: right;
    width: 50%;
}
.app-btn img {
    margin-right: 20px;
}

.app-btn input:hover {
    background: #665F55;
}


/*========================================================*/


footer {
    width: 100%;
    height: 412px;
    display: flex;
    padding: 75px 0;
}

.footer-wrapper {
    position: relative;
    width: 100%;
    border-radius: 50px;
    background-color: #9D8665;
    display: flex;
    justify-content: center;
    align-items: center;

}

.block__row {
    position: relative;
    z-index: 100;
    font-size: 24px;
    float: right;
    width: 48%;

}

.footer-text {
    position: relative;
    z-index: 100;
    font-size: 24px;
    width: 48%;
    float: left;
}

.footer-text-second {
    color: #5e5373;
    font-style: italic;
}



/*========================================================*/

.menu-coffee {
        text-align: center;
        margin: 20px;
        width: 340px;
    background-color: #fff;
    border-radius: 40px;
}

.menu-coffee img {
    border-radius: 40px;
}

.menu-coffee h4 {
margin: 10px;
}

.menu-wrapper {
display: flex;
flex-wrap: wrap;
margin: 0 auto;
}